body {
  font-family: "Avenir Next";
}

.header-list li {
  list-style: none;
  float:left;
  padding: 40px 5px 20px 20px;

}

.header {
  height: 100px;

}

.header-logo {
  padding: 10px 10px;
  font-size: 15px;

  float: left;
}

.main {

  height: 200px;
}

.footer {

  height: 80px;
}

